body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: auto;
  background-color: white;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
